<div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title">Create appointment</h1>
            <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <app-equipment-search *ngIf="user.userRole?.toString() !== 'Company_Admin'" (reservedEquipmentId)="getReservedEquipment($event)"  [showForCompany]="false" style="max-height: 350px; overflow-y: auto;"></app-equipment-search>
        <div *ngIf="user.userRole?.toString() !== 'Company_Admin'">
            <table class="table mt-3">
              <thead>
              <tr>
                <th class="col-sm-4">Start time</th>
                <th>Duration</th>
                <th>Name</th>
                <th>Surname</th>
              </tr>
              </thead>
              <tbody>
            <tr *ngFor="let appointment of appointments">
              <td>{{ appointment.startTime | date:'medium' }}</td>
              <td>{{appointment.duration}} minutes</td>
              <!-- <td>{{appointment.adminName}}</td>
              <td>{{appointment.adminSurname}}</td> -->
              <td><button class="btn btn-primary" (click)="selectAppointment(appointment)">Select</button></td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="modal-body">
          <button class="btn btn-primary" (click)="createYourOwnFunction()">Create your own</button>
            <form [formGroup]="appointmentForm" (submit)="createAppointment()">
                <div *ngIf="createYourOwn" class="form-group">

                    <label for="datetimepicker">Select date and time:</label>
                    <input type="datetime-local" class="form-control" id="datetimepicker" name="datetimepicker"
                        formControlName="appointmentDate" required>

                    <label for="datetimepicker">Duration:</label>
                    <select class="form-control form-select" formControlName="duration" required>
                        <option value="15">15 minutes</option>
                        <option value="30">30 minutes</option>
                        <option value="45">45 minutes</option>
                        <option value="60">60 minutes</option>
                    </select>
                </div>
                <div class="row mt-3 mx-1">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
