<div class="container col-md-9 mb-5">

    <div class="row my-5">
        <h1>Profile details</h1>
    </div>

    <div class="row" *ngIf="this.user == undefined || this.user.id == 0">
        <h3>Please <a [routerLink]="['../login']">login</a>.</h3>
    </div>

    <form *ngIf="this.user != undefined && this.user.id != 0">
        <div class="col-s-5">
            <span class="form-label">Name:</span>
        </div>
        <div class="col-s-5">
            <input type="text" class="form-control" [(ngModel)]="user.name" name="name">
        </div>
        <div class="col-s-5">
            <span class="form-label">Surname:</span>
        </div>
        <div class="col-s-5">
            <input type="text" class="form-control" [(ngModel)]="user.surname" name="surname"/>
        </div>
        <div class="col-s-5">
            <span class="form-label">Email:</span>
        </div>
        <div class="col-s-5">
            <input type="text" class="form-control" [(ngModel)]="user.email" name="email"/>
        </div>
        <div class="col-s-5">
            <span class="form-label">City:</span>
        </div>
        <div class="col-s-5">
            <input type="text" class="form-control" [(ngModel)]="user.city" name="city"/>
        </div>
        <div class="col-s-5">
            <span class="form-label">Country:</span>
        </div>
        <div class="col-s-5">
            <input type="text" class="form-control" [(ngModel)]="user.country" name="country"/>
        </div>
        <div class="col-s-5">
            <span class="form-label">Phone:</span>
        </div>
        <div class="col-s-5">
            <input type="text" class="form-control" [(ngModel)]="user.phone" name="phone"/>
        </div>
        <div class="col-s-5">
            <span class="form-label">Job:</span>
        </div>
        <div class="col-s-5">
            <input type="text" class="form-control" [(ngModel)]="user.job" name="job"/>
        </div>
        <div class="col-s-5">
            <span class="form-label">Company info:</span>
        </div>
        <div class="col-s-5">
            <input type="text" class="form-control" value="user.companyInfo" name="companyInfo"/>
        </div>
        <div class="col-md-5">
            <button class="btn-primary" (click)="editInfo()">Edit</button>
            <button class="btn" [routerLink]="['/']">Cancel</button>
            <button class="btn" [routerLink]="['/change-password']">Change password</button>
        </div>
    </form>
</div>